.uploadImage-not-displayed {
    display: none;
}

.uploadImage-selected-image {
    width: 80px;
    height: 80px;
}

.uploadImage-button {
    /* background-color: ; */
    cursor: pointer;
}

.uploadImage-label {
    cursor: inherit;
}

.uploadImage-no-files {
    color: rgb(185, 36, 36);
}